<div class="jumbotron">
    <div class="container">
        <h1 id="banner" class="text-center">Eat Da Burger !!</h1>
        <img class="img-fluid" src="../assets/img/burgerPic.png">
        <div class="row">
            <div class="col-sm-12 text-center">
                <form class="form-inline form-group mx-auto">
                    <div class="form-group mx-auto">
                        <label for="Burger Name" class="sr-only">Burger Name</label>
                        <input type="text" style="width: 400px" class="form-control mx-1 mb-3" id="burgername" placeholder="New Burger Name">
                        <button type="submit" id="addburger" class="btn btn-success mx-1 mb-3">Add To Menu</button>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="row my-2">
                    <div class="col text-right burgerheader">
                        Burger Menu
                    </div>
                </div>
                {{#each burgers}}
                {{#if this.devoured }}
                {{else}}
                <div class="row my-1 menuitems p-1">
                    <div class="col text-right">
                        <span class="mr-1">{{this.burger_name}}</span> <button class="btn btn-danger btn-sm devourme" data-id="{{this.id}}">Devour It! </button>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            <div class="col-sm-2 text-center"></div>
            <div class="col-sm-5">
                <div class="row my-2">
                    <div id="eaten" class="col burgerheader">
                        Eaten Burgers
                    </div>
                </div>
                {{#each burgers}}
                {{#if this.devoured }}

                <div class="row my-1 eatenitems p-1">
                    <div class="col">
                        {{this.burger_name}}
                    </div>
                </div>
                {{else}}
                {{/if}}
                {{/each}}
            </div>
        </div>

    </div>
</div>

